<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="NAME" value="opin-srv-re-produtos-chassis" />
    <property name="ARCHIVED" value="archived" />
    <property name="FILESIZE" value="100MB" />

    <!-- Default PATH is /var/log, if you want to change use environment variable  !-->
    <!-- Example:java -jar -DPATH_LOGS=./log/ target/opin-srv-re-produtos-chassis.jar !-->
    <property name="PATH" value="${PATH_LOGS:-/var/log}" />

    <!-- MaskPattern configuration for Console, add or remove obfuscation !-->
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="br.com.bradescoseguros.opin.external.configuration.logback.MaskingPatternLayout">
            <maskPattern>\"Check connection mongo - obfuscated\"\s*:\s*\"(.*?)\"</maskPattern>
            <Pattern>%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] [TRACE: %X{TRACE_ID}] %yellow(%C{1.}) %green(%M): %msg%n%throwable{short}</Pattern>
        </layout>
    </appender>

    <!-- init springProfile production !-->
    <springProfile name="prod, production">

        <appender name="RollingFile"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${PATH}/${NAME}/${NAME}.log</file>

            <layout class="br.com.bradescoseguros.opin.external.configuration.logback.MaskingPatternLayout">
                <maskPattern>\"Check connection mongo - obfuscated\"\s*:\s*\"(.*?)\"</maskPattern>
                <Pattern>%d %p %C{1.} [%t] %m%n %msg%n%throwable{1}</Pattern>
            </layout>

            <rollingPolicy
                    class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- rollover daily and when the file reaches 100 MegaBytes -->
                <fileNamePattern>${PATH}/${NAME}/${ARCHIVED}/${NAME}-%d{yyyy-MM-dd}.%i.log
                </fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>${FILESIZE}</maxFileSize>

                </timeBasedFileNamingAndTriggeringPolicy>
                <maxHistory>30</maxHistory>
                <totalSizeCap>200MB</totalSizeCap>
            </rollingPolicy>
        </appender>

        <root level="${ROOT_LOG_LEVEL:-ERROR}">
            <appender-ref ref="RollingFile" />
        </root>

        <logger name="br.com.bradescoseguros" level="INFO" additivity="false">
            <appender-ref ref="RollingFile" />
        </logger>

    </springProfile>
    <!-- finish springProfile production !-->


    <!-- init springProfile development !-->
    <springProfile name="dev, development">
        <root level="${ROOT_LOG_LEVEL:-INFO}">
            <appender-ref ref="Console" />
        </root>
    </springProfile>
    <!-- finish springProfile development !-->


    <!-- init springProfile debug !-->
    <springProfile name="debug">
        <root level="${ROOT_LOG_LEVEL:-DEBUG}">
            <appender-ref ref="Console" />
        </root>
    </springProfile>
    <!-- finish springProfile debug !-->

</configuration>